.button_container,
.button_standard {
  padding: 0.8rem 3rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.button_standard {
  border: 1px solid var(--text-green);
  background-color: transparent;
  color: var(--text-green);
}

.button_standard:hover {
  background-color: var(--buttonBackground-green);
  transition: all 0.2s;
}

.button_container {
  border: 1px solid var(--text-green);
  background-color: var(--text-green);
  color: var(--text-white);
}

.button_container:hover {
  background-color: transparent;
  color: var(--text-green);
  transition: all 0.2s;
}

@media (min-width: 768px) {
  .button_container {
    padding: 0.6rem 0.8rem;
    background-color: transparent;
    border: 1px solid var(--text-green);
    color: var(--text-green);
  }

  .button_container:hover {
    background-color: var(--buttonBackground-green);
  }
}
