.hero_container {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  width: 100%;
}

.hero_container div {
  width: 100%;
}

.greeting,
.name,
.feature,
.description {
  margin: 1rem 0;
}

.greeting {
  color: var(--text-green);
}

.name {
  color: var(--text-darkblue);
}

.feature {
  color: var(--text-gray);
}

.description {
  color: var(--text-gray);
}

@media (min-width: 768px) {
  .hero_container {
    line-height: 3rem;
  }

  h1 {
    font-size: 3rem;
  }

  .description {
    width: 60%;
    line-height: 2rem;
  }
}

@media (min-width: 1024px) {
  .hero_container {
    line-height: 5rem;
  }

  h1 {
    font-size: 5rem;
  }

  .description {
    width: 50%;
    padding-top: 0.8rem;
  }
}
