.projects_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(311px, 1fr));
  gap: 20px;
}

.project_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.project_container p {
  text-align: justify;
  font-size: 0.9rem;
  color: var(--text-gray);
}

.project_title {
  width: 100%;
  text-align: center;
  color: var(--text-gray);
}
.project_image_container {
  pointer-events: none;
  width: 100%;
}

.project_image {
  width: 100%;
  height: 100%;
}

.icon_view_project {
  display: none;
}

.project_technologies {
  display: flex;
  width: 100%;
  gap: 15px;
  justify-content: center;
}

.project_technologies li {
  padding: 3px 10px;
  border: 1px solid var(--text-green);
  border-radius: 15px;
  list-style: none;
  font-size: 0.9rem;
  color: var(--text-green);
}

.button_view {
  display: flex;
  padding: 8px 15px;
  gap: 10px;
  border: 1px solid var(--buttonViewCode-color);
  border-radius: 15px;
  text-decoration: none;
  transition: all 0.3s;
}

.icon_view,
.button_view p {
  color: var(--buttonViewCode-color);
}

.button_view:hover {
  background-color: var(--buttonViewCode-bg-color);
}

.buttons_container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

@media (min-width: 1024px) {
  .project_image_container {
    position: relative;
    pointer-events: auto;
    overflow: hidden;
  }

  .project_image_container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    opacity: 0.5;
    transition: all 0.3s;
    background-color: var(--text-darkblue);
  }

  .project_image_container:hover::after {
    top: 0px;
    overflow: visible;
  }

  .icon_view_project {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: calc(-50% - 20px);
    left: calc(50% - 20px);
    color: var(--buttonViewProject-color);
    z-index: 10;
    transition: all 0.3s;
  }

  .project_image_container:hover .icon_view_project {
    top: calc(50% - 20px);
    left: calc(50% - 20px);
  }
}
