.title {
  position: relative;
  margin: 0 0 50px 0;
  color: var(--text-darkblue);
}

.title::after {
  content: '';
  position: absolute;
  background-color: var(--text-softblue);
  width: calc(100% - 180px);
  height: 2px;
  top: 15px;
  left: 180px;
}

.title span {
  color: var(--text-green);
}
