.layout_container {
  min-width: 375px;
}

.children_container {
  display: flex;
  max-width: 580px;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  row-gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .children_container {
    max-width: 800px;
  }
}

@media (min-width: 1440px) {
  .children_container {
    max-width: 1100px;
  }
}
