.contact_container {
  width: 100%;
}

.contact_container > div {
  text-align: center;
}

.contact_container h1 {
  color: #42454a;
  margin-bottom: 20px;
}

.contact_container p {
  width: 60%;
  margin: 0 auto 40px;
  color: #65686f;
}
