.nav_container {
  display: none;
}

@media (min-width: 900px) {
  .nav_container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: auto;
    flex-direction: row;
    background-color: transparent;
    font-size: 1rem;
    transition: none;
  }

  .nav_item {
    position: relative;
    text-decoration: none;
    color: var(--text-darkblue);
  }

  .nav_item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--text-green);
    left: 0;
    bottom: -5px;
    opacity: 0;
  }

  .nav_item:hover,
  .nav_item:hover::after {
    color: var(--text-green);
    opacity: 0.8;
    transition: all 0.3s;
  }

  .nav_item span {
    color: var(--text-green);
  }

  .icon_mode {
    width: 20px;
    height: 20px;
    color: var(--text-darkblue);
    cursor: pointer;
  }

  .buttonLang {
    background-color: transparent;
    cursor: pointer;
    border: none;
  }

  .buttonLang p {
    text-transform: uppercase;
    color: var(--text-darkblue);
  }
}

@media (min-width: 1200px) {
  .nav_container {
    width: 60%;
  }
}

@media (min-width: 1440px) {
  .nav_container {
    width: 50%;
  }
}
