*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.light {
  background-color: white;
  --text-green: #0d7933;
  --text-darkblue: #192a56;
  --text-softblue: #192a5691;
  --text-gray: #65686f;
  --sidebarBackground-color: white;
  --sidebarBackgroundButton-color: #192a5624;
  --buttonBackground-green: rgba(13, 121, 51, 0.307);
  --headerBackground-color: white;
  --bottonArrowUp-bg-color: #192a56;
  --bottonArrowUp-bg-soft-color: #192a5691;
  --bottonArrowUp-text-color: white;
  --buttonViewProject-color: white;
  --buttonViewCode-color: #192a56;
  --buttonViewCode-bg-color: #192a5623;
}

.dark {
  background-color: #0a192f;
  --text-green: #64ffda;
  --text-darkblue: #ccd6f6;
  --text-softblue: #ccd6f691;
  --text-gray: #8892b0;
  --sidebarBackground-color: #0a192f;
  --sidebarBackgroundButton-color: #ffffff2f;
  --buttonBackground-green: rgba(100, 255, 218, 0.1);
  --headerBackground-color: #0a192f;
  --bottonArrowUp-bg-color: #ccd6f6;
  --bottonArrowUp-bg-soft-color: #ccd6f691;
  --bottonArrowUp-text-color: #192a56;
  --buttonViewProject-color: #192a56;
  --buttonViewCode-color: white;
  --buttonViewCode-bg-color: rgba(255, 255, 255, 0.19);
}

.hiden-scroll {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
html::-webkit-scrollbar-thumb {
  background: #192a56;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
html::-webkit-scrollbar-thumb:hover {
  background: #192a56d2;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
html::-webkit-scrollbar-thumb:active {
  background-color: #192a56d2;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
html::-webkit-scrollbar-track {
  background: #d4d4d4;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
html::-webkit-scrollbar-track:hover,
html::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
